<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ZcinfoMapper">
	
	<!--表名 -->
	<sql id="tableName">
		T_ZCINFO
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		USERTYPE,	
		NAME,
		OPENID,	
		SEX,	
		AGE,	
		CITY,	
		AREA,	
		ADDRESS,	
		TEL,	
		JOB,	
		FOUDDATE,	
		CAPTAIL,	
		ZYJR,	
		ZCTIME,	
		WXUSER_ID,
		CYTYPE,
		QYGM,
		SOCIALSECURITY,
		PEOPLETYPE,
		FRNAME,
		FRZB,
		FRHJSZD,
		FRBYYX,
		FRBYDATE,
		BYYX,
		BYDATE
		
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{USERTYPE},	
		#{NAME},
		#{OPENID},		
		#{SEX},	
		#{AGE},	
		#{CITY},	
		#{AREA},	
		#{ADDRESS},	
		#{TEL},	
		#{JOB},	
		#{FOUDDATE},	
		#{CAPTAIL},	
		#{ZYJR},	
		now(),	
		#{WXUSER_ID},
		#{CYTYPE},
		#{QYGM},
		#{SOCIALSECURITY},
		#{PEOPLETYPE},
		#{FRNAME},
		#{FRZB},
		#{FRHJSZD},
		#{FRBYYX},
		#{FRBYDATE},
		#{BYYX},
		#{BYDATE}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			WXUSER_ID = #{WXUSER_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			USERTYPE = #{USERTYPE},
			NAME = #{NAME},
			SEX = #{SEX},
			AGE = #{AGE},
			CITY = #{CITY},
			AREA = #{AREA},
			ADDRESS = #{ADDRESS},
			TEL = #{TEL},
			JOB = #{JOB},
			FOUDDATE = #{FOUDDATE},
			CAPTAIL = #{CAPTAIL},
			ZYJR = #{ZYJR},
			ZCTIME = #{ZCTIME},
		WXUSER_ID = WXUSER_ID
		where 
		WXUSER_ID = #{WXUSER_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			WXUSER_ID = #{WXUSER_ID}
	</select>
	
	<!-- 通过ID获取数据 -->
	<select id="findByOpenId" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			OPENID = #{OPENID}
		<if test="USERTYPE!= null and USERTYPE != ''">	
			and USERTYPE=#{USERTYPE}
		</if>	
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	
	<!-- 列表 -->
	<select id="datalist" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			WXUSER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 通过ID获取数据 -->
	<select id="findParam" parameterType="pd" resultType="pd">
		select 
			param_val
		from 
			t_sys_param
		where 
			param_name = #{param_name}
	</select>
	
</mapper>